/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#mapContainer {
    width: 100%; 
    height: 600px;
}


.isoluku {

  margin: 0cm;
  padding-top: 0cm;
  font: 100px sans-serif;
  color: black;
}

.logo {
  height: 150px;
  text-align: right;
}














